<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section sidebar">
        <ul class="nav side-menu">
            <li><a href="welcome" ><i class="fa fa-home"></i> Home </a>
            </li>
            <li><a href="listShow"><i class="fa fa-file" ></i> File </a>
            </li>
            <li><a href="searchFile"><i class="fa fa-search"></i> Search</a>

            </li>
            <li><a href="fileUploadView"><i class="fa fa-upload"></i> Upload </a>

            </li>
            <li><a href="fileTypeSearch.htm"><i class="fa fa-bar-chart-o"></i> Data  </a>

            </li>
            <li><a href="fileDashboard.htm"><i class="fa fa-clone"></i>Layouts</a>
            </li>
            <li><a href="changePasswordView" >
				<i class="fa fa-unlock-alt"></i>Change</a>
			</li>
			
			<li>
            <a  href="javascript: document.logoutForm.submit()" role="menuitem"   ><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
               <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
               <input  type="submit" hidden="hidden" value="Sign Out"/>
            </form>
			</li>
        </ul>
    </div>


</div>